<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  {% extends "base.html" %}
  {% block content %}
  <div class="contenedor">
    <h2>Estudiantes de {{ curso.nombre }}</h2>
    {% if curso.estudiantes %}
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
        </tr>
      </thead>
      <tbody>
        {% for e in curso.estudiantes %}
        <tr>
          <td>{{ e.nombre }}</td>
          <td>{{ e.apellido }}</td>
          <td>{{ e.edad }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No hay estudiantes en este curso.</p>
    {% endif %}
    <p><a class="btn" href="{{ url_for('cursos.listar_cursos') }}">Inicio</a></p>
  </div>

  {% endblock %}
</body>

</html>